header {
    padding: 20px 0px;
    text-align: center;
    background-color: rgb(236, 52, 52);
}

header h1{
    text-transform: uppercase;
    color: rgb(247, 247, 125);
    letter-spacing: 2px;
}